:root {

    --bg:
    #050507;

    --panel:
    #0d0d12;

    --panel-light:
    #14141b;


    --text:
    #ffffff;


    --text-muted:
    #888;


    --accent:
    #ff5f1f;


    --yellow:
    #ffd400;


    --teal:
    #00b0ff;


    --green:
    #00ff88;


    --border:
    rgba(255,255,255,.15);


    --mono:
    "JetBrains Mono",
    "Roboto Mono",
    monospace;


    --display:
    "Arial Black",
    sans-serif;

}